extra/platform.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:simpleType name="axisType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="x"/>
            <xs:enumeration value="y"/>
            <xs:enumeration value="z"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="rotType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="global"/>
            <xs:enumeration value="local"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="platformType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="multicopter"/>
            <xs:enumeration value="static"/>
            <xs:enumeration value="linearpath"/>
            <xs:enumeration value="groundvehicle"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="noiseType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:float" name="clipMin"/>
                <xs:attribute type="xs:float" name="clipMax"/>
                <xs:attribute type="xs:boolean" name="clipEnabled"/>
                <xs:attribute type="xs:short" name="fixedLifespan"/>
                <xs:attribute type="xs:string" name="type"/>
                <xs:attribute type="xs:float" name="mean"/>
                <xs:attribute type="xs:float" name="stdev"/>
                <xs:attribute type="xs:float" name="min"/>
                <xs:attribute type="xs:float" name="max"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:element name="document">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="platform" maxOccurs="unbounded" minOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="scannerMount">
                                <xs:complexType mixed="true">
                                    <xs:sequence>
                                        <xs:element name="rot" maxOccurs="unbounded" minOccurs="0">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string">
                                                        <xs:attribute type="axisType" name="axis" use="optional"/>
                                                        <xs:attribute type="xs:float" name="angle_deg" use="optional"/>
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute type="xs:float" name="x" use="optional"/>
                                    <xs:attribute type="xs:float" name="y" use="optional"/>
                                    <xs:attribute type="xs:float" name="z" use="optional"/>
                                    <xs:attribute type="xs:string" name="rotations" use="optional"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="positionXNoise" minOccurs="0" type="noiseType"/>
                            <xs:element name="positionYNoise" minOccurs="0" type="noiseType"/>
                            <xs:element name="positionZNoise" minOccurs="0" type="noiseType"/>
                            <xs:element name="attitudeXNoise" minOccurs="0" type="noiseType"/>
                            <xs:element name="attitudeYNoise" minOccurs="0" type="noiseType"/>
                            <xs:element name="attitudeZNoise" minOccurs="0" type="noiseType"/>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="id" use="required"/>
                        <xs:attribute type="xs:string" name="name" use="required"/>
                        <xs:attribute type="platformType" name="type" use="optional"/>
                        <xs:attribute type="xs:float" name="drag" use="optional"/>
                        <xs:attribute type="xs:float" name="engine_max_force" use="optional"/>
                        <xs:attribute type="xs:float" name="speedup_magnitude" use="optional"/>
                        <xs:attribute type="xs:float" name="slowndown_magnitude" use="optional"/>
                        <xs:attribute type="xs:float" name="slowdown_distance" use="optional"/>
                        <xs:attribute type="xs:float" name="base_pitch_deg" use="optional"/>
                        <xs:attribute type="xs:float" name="roll_speed_deg" use="optional"/>
                        <xs:attribute type="xs:float" name="pitch_speed_deg" use="optional"/>
                        <xs:attribute type="xs:float" name="yaw_speed_deg" use="optional"/>
                        <xs:attribute type="xs:float" name="roll_offset_deg" use="optional"/>
                        <xs:attribute type="xs:float" name="pitch_offset_deg" use="optional"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>