extra/survey.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="document">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="scannerSettings" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute type="xs:string" name="id" use="optional"/>
                                <xs:attribute type="xs:boolean" name="active" use="optional"/>
                                <xs:attribute type="xs:float" name="scanAngle_deg" use="optional"/>
                                <xs:attribute type="xs:int" name="pulseFreq_hz" use="optional"/>
                                <xs:attribute type="xs:float" name="scanFreq_hz" use="optional"/>
                                <xs:attribute type="xs:float" name="verticalAngleMin_deg" use="optional"/>
                                <xs:attribute type="xs:float" name="verticalAngleMax_deg" use="optional"/>
                                <xs:attribute type="xs:float" name="headRotatePerSec_deg" use="optional"/>
                                <xs:attribute type="xs:float" name="headRotateStart_deg" use="optional"/>
                                <xs:attribute type="xs:float" name="headRotateStop_deg" use="optional"/>
                                <xs:attribute type="xs:float" name="trajectoryTimeInterval_s" use="optional"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="survey">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="FWFSettings" maxOccurs="1" minOccurs="0">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute type="xs:int" name="beamSampleQuality" use="optional"/>
                                            <xs:attribute type="xs:float" name="binSize_ns" use="optional"/>
                                            <xs:attribute type="xs:float" name="maxFullwaveRange_ns" use="optional"/>
                                            <xs:attribute type="xs:float" name="winSize_ns" use="optional"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="leg" maxOccurs="unbounded" minOccurs="1">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="platformSettings">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string">
                                                        <xs:attribute type="xs:float" name="x" use="required"/>
                                                        <xs:attribute type="xs:float" name="y" use="required"/>
                                                        <xs:attribute type="xs:float" name="z" use="optional"/>
                                                        <xs:attribute type="xs:float" name="movePerSec_m" use="optional"/>
                                                        <xs:attribute type="xs:boolean" name="onGround" use="optional"/>
                                                        <xs:attribute type="xs:boolean" name="stopAndTurn" use="optional"/>
                                                        <xs:attribute type="xs:boolean" name="smoothTurn" use="optional"/>
                                                        <xs:attribute type="xs:boolean" name="slowdownEnabled" use="optional"/>
                                                        <xs:attribute type="xs:float" name="yawAtDeparture_deg" use="optional"/>
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="scannerSettings">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string">
                                                        <xs:attribute type="xs:string" name="template" use="optional"/>
                                                        <xs:attribute type="xs:float" name="trajectoryTimeInterval_s" use="optional"/>
                                                        <xs:attribute type="xs:boolean" name="active" use="optional"/>
                                                        <xs:attribute type="xs:float" name="scanAngle_deg" use="optional"/>
                                                        <xs:attribute type="xs:int" name="pulseFreq_hz" use="optional"/>
                                                        <xs:attribute type="xs:float" name="scanFreq_hz" use="optional"/>
                                                        <xs:attribute type="xs:float" name="verticalAngleMin_deg" use="optional"/>
                                                        <xs:attribute type="xs:float" name="verticalAngleMax_deg" use="optional"/>
                                                        <xs:attribute type="xs:float" name="headRotatePerSec_deg" use="optional"/>
                                                        <xs:attribute type="xs:float" name="headRotateStart_deg" use="optional"/>
                                                        <xs:attribute type="xs:float" name="headRotateStop_deg" use="optional"/>
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="name" use="required"/>
                        <xs:attribute type="xs:string" name="platform" use="required"/>
                        <xs:attribute type="xs:string" name="scanner" use="required"/>
                        <xs:attribute type="xs:string" name="scene" use="required"/>
                        <xs:attribute type="xs:int" name="seed" use="optional"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>