pyhelios/util/xsd/scene.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:simpleType name="filterType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="objloader" />
            <xs:enumeration value="geotiffloader" />
            <xs:enumeration value="xyzloader" />
            <xs:enumeration value="detailedvoxels" />
            <xs:enumeration value="translate" />
            <xs:enumeration value="rotate" />
            <xs:enumeration value="scale" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="motionType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="translation" />
            <xs:enumeration value="rotation" />
            <xs:enumeration value="reflection" />
            <xs:enumeration value="glideplane" />
            <xs:enumeration value="helical" />
            <xs:enumeration value="rotsym" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="vector">
        <xs:restriction base="xs:string">
            <xs:pattern value="([+-]?(\d*\.)?\d*);([+-]?(\d*\.)?\d*);([+-]?(\d*\.)?\d*)"></xs:pattern>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="axisType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="x" />
            <xs:enumeration value="y" />
            <xs:enumeration value="z" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="axisYZType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="y" />
            <xs:enumeration value="z" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="paramkeyType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="filepath" />
            <xs:enumeration value="efilepath" />
            <xs:enumeration value="separator" />
            <xs:enumeration value="voxelSize" />
            <xs:enumeration value="estimateNormals" />
            <xs:enumeration value="defaultNormal" />
            <xs:enumeration value="normalXIndex" />
            <xs:enumeration value="normalYIndex" />
            <xs:enumeration value="normalZIndex" />
            <xs:enumeration value="intersectionMode" />
            <xs:enumeration value="intersectionArgument" />
            <xs:enumeration value="randomShift" />
            <xs:enumeration value="matfile" />
            <xs:enumeration value="matname" />
            <xs:enumeration value="randomMaterials" />
            <xs:enumeration value="randomRange" />
            <xs:enumeration value="offset" />
            <xs:enumeration value="onGround" />
            <xs:enumeration value="rotation" />
            <xs:enumeration value="scale" />
            <xs:enumeration value="up" />
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="sceneType">
        <xs:sequence>
            <xs:element name="part" maxOccurs="unbounded" minOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="filter" maxOccurs="unbounded" minOccurs="1">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="param" maxOccurs="unbounded" minOccurs="1">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="rot" minOccurs="0">
                                                    <xs:complexType>
                                                        <xs:simpleContent>
                                                            <xs:extension base="xs:string">
                                                                <xs:attribute type="xs:byte" name="angle_deg" use="optional"/>
                                                                <xs:attribute type="axisType" name="axis" use="optional"/>
                                                            </xs:extension>
                                                        </xs:simpleContent>
                                                    </xs:complexType>
                                                </xs:element>
                                            </xs:sequence>
                                            <xs:attribute type="xs:string" name="type" use="required"/>
                                            <xs:attribute type="paramkeyType" name="key" use="required"/>
                                            <xs:attribute type="xs:string" name="value" use="optional"/>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                                <xs:attribute type="filterType" name="type" use="required"/>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="dmotion" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="motion" maxOccurs="unbounded" minOccurs="1">
                                        <xs:complexType>
                                            <xs:attribute type="xs:string" name="type" use="required"/>
                                            <xs:attribute type="vector" name="vec" use="optional"/>
                                            <xs:attribute type="vector" name="axis" use="optional"/>
                                            <xs:attribute type="xs:float" name="angle" use="optional"/>
                                            <xs:attribute type="vector" name="center" use="optional"/>
                                            <xs:attribute type="xs:float" name="glide" use="optional"/>
                                            <xs:attribute type="vector" name="ortho" use="optional"/>
                                            <xs:attribute type="vector" name="shift" use="optional"/>
                                            <xs:attribute type="xs:boolean" name="selfMode" use="optional"/>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                                <xs:attribute type="xs:string" name="id" use="required"/>
                                <xs:attribute type="xs:int" name="loop" use="optional"/>
                                <xs:attribute type="xs:string" name="next" use="optional"/>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                    <xs:attribute type="xs:string" name="id" use="optional"/>
                    <xs:attribute type="xs:string" name="dynStep" use="optional"/>
                    <xs:attribute type="xs:string" name="kdtDynStep" use="optional"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute type="xs:string" name="id" use="required"/>
        <xs:attribute type="xs:string" name="name" use="optional"/>
        <xs:attribute type="xs:string" name="dynStep" use="optional"/>
        <xs:attribute type="xs:string" name="kdtDynStep" use="optional"/>
    </xs:complexType>

    <xs:element name="document">
        <xs:complexType>
            <xs:choice>
                <xs:element name="scene" type="sceneType" minOccurs="1" maxOccurs="unbounded"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>
</xs:schema>
